lazygit/state.yml
lazygit/state.yml
nvim/startup.log
tmux/plugins
pynvim
obsidian/workspace*.json
obsidian/plugins/obsidian-jira-issue/data.json
obsidian/plugins/remember-cursor-position/cursor-positions.json
obsidian/.trash/
obsidian/.DS_Store
obsidian/**/.DS_Store
obsidian/._*
obsidian/**/._*
